 h1 {
     background-color: aqua;
     border: solid 1px;
 }
 #cajap {
     display: flex;
     flex-flow: row;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 #caja1 {
     background-color: salmon;
     color: black;
     text-align: left;
     margin-bottom: 15px;
     order: 1;
     min-width: 300px;
     flex: 1;
     margin-right: 5px;
     margin-left: 5px;
 }
 #cabecera1 {
     background-color: black;
     color: azure;
     text-align: center;
 }
 #caja2 {
     margin: 0px;
     order: 2;
     min-width: 300px;
     flex: 2;
     margin-right: 5px;
     margin-left: 5px;
 }
 #cabecera2 {
     background-color: black;
     color: azure;
     text-align: center;
 }
