p {
    color: blue;
    font-size; 20px;
    font-family: verdana;
    text-align: center;
}

body {
    background:aqua;
}

.rojo {
    color: red;
}

.mielo {
    background: silver;
}

.delecha {
    text-align: right;
}